* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 350px;
  height: 500px;
  background-color: white;
}
.innerBox {
  display: flex;
  gap: 80px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* .intro h1{
    font-size: large;
} */

h2 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 35px;
  color: blueviolet;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
}

.imgIcon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15px;
  left: 8px;
}

input {
  height: 50px;
  padding-left: 35px;
  width: 300px;
  background-color: rgb(229, 235, 235);
  border-radius: 6px;
  border: 1px solid purple;
}

#buttonEye{
  border: none;
  background-color: transparent;
}
.eyeImg {
  position: absolute;
  right: 9px;
  top: 9px;
 
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 25px;
  margin-right: 25px;
}

button {
  padding: 15px 50px;
  border-radius: 20px;
  font-size: 16px;
}

.signUpBtn {
  background-color: blueviolet;
  color: white;
}
