 body {
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
    }

    .container {
      background: #fff;
      padding: 20px 25px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      width: 400px;
    }
   #modeBtn{
    background-color: transparent;
  padding: 0;
   }
.mode{
  padding-left: 410px;
  
}
    h1 {
      text-align: center;
      color: #333;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }

    input, textarea {
      padding: 8px 10px;
      font-size: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      outline: none;
    }

    textarea {
      resize: none;
      height: 60px;
    }

    button {
      background: #007bff;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;
    }

    button:hover {
      background: #0056b3;
    
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .task {
      background: #fafafa;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .task h3 {
      margin: 0;
      color: #222;
    }

    .task p {
      margin: 5px 0;
      color: #555;
    }

    .task small {
      color: #888;
    }
.taskWrapper{
  display: flex;
  /* flex-direction: row; */
}
    .deleteBtn {
      background: #dc3545;
      color: white;
      border: none;
      padding: 6px 10px;
      border-radius: 5px;
      float: right;
      cursor: pointer;
    }

    .delete-btn:hover {
      background: #a71d2a;
    }

    /* complete/ overdue indicator */
    .task.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.task.overdue {
  border-left: 5px solid #ff4d4d;
  background: #fff4f4;
}
